.competition__text {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  box-sizing: border-box;
  min-height: 237px;
  background-image: url("..//img/background.jpg");
  background-size: cover;

  @media (min-resolution: $retina) {
    background-image: url("..//img/background@2x.jpg");
  }
}

.competition__text-title {
  padding-top: 140px;
  padding-bottom: 140px;
  color: $white;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  margin: 0 auto;
  width: 228px;
}

@media (min-width: $tablet-width) {
  .competition__text-title {
    width: 620px;
    font-size: 50px;
    line-height: 60px;
  }
}

@media (min-width: $desktop-width) {
  .competition__text-title {
    width: 747px;
  }
}

.competition__text-desc {
  padding-top: 64px;
  padding-bottom: 55px;
}

@media (min-width: $tablet-width) {
  .competition__text-desc {
    padding-top: 90px;
    padding-bottom: 77px;
  }
}

@media (min-width: $desktop-width) {
  .competition__text-desc {
    padding-bottom: 82px;
  }
}

.competition__text-subtitle {
  background-color: $white;
  width: 280px;
  margin: 0 auto;
  color: #283645;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: $tablet-width) {
  .competition__text-subtitle {
    width: 500px;
    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .competition__text-subtitle {
    width: 760px;
  }
}

.competition__text-additional {
  display: none;
}

@media (min-width: $tablet-width) {
  .competition__text-additional {
    display: inline;
  }
}
