.contacts {
  text-align: center;
}

.contacts__text {
  margin-bottom: 33px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  color: $blue;
}

.contacts__wraper {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .contacts__wraper {
    display: grid;
  }
}

.contacts__title {
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  line-height: 25px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  color: $blue;
}

.contacts__subtitle {
  color: $accent;
  font-weight: 300;
  font-size: 24px;
  text-decoration: none;
  line-height: 33px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-bottom: 24px;
}

.contacts__svg {
  position: relative;
  top: 39px;
  height: 123px;
}

.contacts__map {
  width: 100%;
  height: 200px;
  clip-path: polygon(52% 26%, 100% 0, 100% 100%, 0 100%, 0 0);
}

@media (min-width: $tablet-width) {
  .contacts__map {
    width: 100%;
    height: 374px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__map {
    width: 100%;
    height: 502px;
  }
}
