.desc {
  margin-top: 123px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("..//img/greybackgrounddesctop.png");
  width: auto;
  position: relative;
  z-index: -2;
  height: auto;
}

@media (min-width: $tablet-width) {
  .desc {
    display: flex;
    flex-direction: row-reverse;
    background-size: auto;
    background-repeat: no-repeat;
  }
}

@media (min-width: $desktop-width) {
  .desc {
    display: flex;
    flex-direction: column-reverse;
  }
}

.desc__image {
  position: relative;
  z-index: -1;
  top: 55px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 20px;
}

@media (max-width: $desktop-width) {
  .desc__img1,
  .desc__img2 {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .desc__img3 {
    height: 547px;
    width: 268px;
    position: relative;
    top: 10px;
  }
}

@media (min-width: $desktop-width) {
  .desc__img3 {
    width: 165px;
    height: 294px;
  }
}

.desc__feature {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding-bottom: 320px;
  background-image: url(..//img/iphone3.png);
  background-repeat: no-repeat;
  background-position: center 355px;
  background-size: 157px auto;
}

@media (min-width: $desktop-width) {
  .desc__feature {
    display: flex;
    flex-direction: row;
    background-color: $gray;
  }
}

.desc__feature-wrap {
  margin-top: 0;
  box-sizing: border-box;
  margin-top: 33px;
  text-align: center;
}

.desc__title {
  color: #000000;
  font-weight: 700;
  line-height: 24px;
  font-size: 18px;
  margin: 0;
  padding: 0;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .desc__title {
    padding-top: 20px;
    padding-left: 42px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .desc__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
  }
}

.desc__subtitle {
  color: #283645;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  padding: 0;
  text-align: center;
  width: 282px;
  margin: 10px auto 0;
}

@media (min-width: $tablet-width) {
  .desc__subtitle {
    padding-top: 20px;
    padding-left: 42px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .desc__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: $blue;
  }
}
