.galery__wrap {
  margin-bottom: 2px;
}


.galery__title {
  background-image: url("..//img/background.jpg");
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 95px;
  padding-bottom: 77px;
  width: 100%;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  text-align: center;

  @media (min-resolution: $retina) {
    background-image: url("..//img/background@2x.jpg");
  }
}

@media (min-width: $tablet-width) {
  .galery__title {
    padding-top: 175px;
    width: 100%;
    font-weight: 300;
    font-size: 50px;
    line-height: 68px;
    padding-bottom: 129px;
  }
}

@media (min-width: $desktop-width) {
  .galery__title {
    width: 100%;
    font-weight: 300;
    font-size: 50px;
    line-height: 68px;
    padding-top: 169px;
    padding-bottom: 89px;
  }
}

@media (min-width: $tablet-width) {
  .galery__wraper {
    padding-top: 90px;
    padding-bottom: 77px;
  }
}

@media (min-width: $desktop-width) {
  .galery__wraper {
    padding-bottom: 90px;
  }
}

.galery__img-block {
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .galery__img-block {
    width: 620px;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .galery__img-block {
    width: 940px;
    margin: 0 auto;
  }
}

.galery__inner {
  align-self: center;
  margin-bottom: 19px;
  display: flex;
  flex-direction: column;
  width: 280px;
}

@media (min-width: $tablet-width) {
  .galery__inner {
    align-self: auto;
    width: 300px;
    min-height: 455px;
    margin-bottom: 20px;
  }
}

@media (min-width: $desktop-width) {
  .galery__inner {
    margin-bottom: 52px;
    min-height: 555px;
  }
}

.galery__img-wrap {
  width: 280px;
  height: 180px;
}

@media (min-width: $tablet-width) {
  .galery__img-wrap {
    width: 300px;
    height: 300px;
  }
}

@media (min-width: $desktop-width) {
  .galery__img-wrap {
    width: 300px;
    height: 400px;
  }
}

.galery__text {
  position: relative;
  box-sizing: border-box;
  flex-grow: 1;
  padding: 0 18px 0;
  background-color: $gray;
}

@media (min-width: $tablet-width) {
  .galery__text {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (min-width: $tablet-width) {
  .galery__text-wrap {
    position: relative;
    left: 13px;
    top: 7px;
  }
}

.galery__text-name {
  strong {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: $blue;
    position: relative;
    left: -1px;
  }
}

@media (min-width: $desktop-width) {
  .galery__text-name {
    strong {
      position: relative;
      left: -5px;
      top: -1px;
    }
  }
}

.galery__text-time {
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
  position: relative;
  left: 3px;
}

@media (min-width: $desktop-width) {
  .galery__text-time {
    position: relative;
    left: -1px;
    top: -1px;
  }
}

.galery__desc {
  margin: 0 0 10px;
  font-size: 14px;
  line-height: 24px;
  color: $blue;
  position: relative;
  top: -17px;
}

@media (min-width: $desktop-width) {
  .galery__desc {
    position: relative;
    top: -18px;
    left: -5px;
  }
}

.galery__like {
  display: flex;
  align-items: center;
  border: none;
  position: relative;
  top: -21px;
  left: -7px;
}

@media (min-width: $tablet-width) {
  .galery__like {
    justify-content: space-between;
    padding: 0;
  }
}

@media (min-width: $tablet-width) {
  .galery__like-img {
    order: 2;
    position: relative;
    top: -3px;
    right: 5px;

    &:checked {
      fill: $accent;
    }
  }
}

@media (min-width: $desktop-width) {
  .galery__like-img {
    order: 2;
    position: relative;
    top: 2px;
    right: 6px;
  }
}

.galery__like-text {
  margin-left: 18px;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: $accent;
}

@media (min-width: $tablet-width) {
  .galery__like-text {
    position: relative;
    left: 19px;
    top: -3px;
    margin-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .galery__like-text {
    position: relative;
    margin-top: 12px;
    margin-left: -3px;
  }
}

.galery__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  width: 254px;
  margin: 44px auto 50px;
  color: $blue;
}

@media (min-width: $tablet-width) {
  .galery__subtitle {
    width: 438px;
    font-size: 18px;
    line-height: 30px;
    color: #283645;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .galery__subtitle {
    width: 572px;
  }
}

.galery__subtitle-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  width: 254px;
  margin: 0 auto;
  padding-top: 22px;
  padding-bottom: 44px;
  color: $blue;
}

@media (min-width: $tablet-width) {
  .galery__subtitle-desc {
    width: 572px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 70px;
    padding-top: 43px;
  }
}

@media (min-width: $desktop-width) {
  .galery__subtitle-desc {
    padding-bottom: 67px;
    padding-top: 5px;
  }
}
