.newphoto {
  padding-bottom: 9px;
  background-color: #f2f2f2;
}

@media (min-width: $desktop-width) {
  .newphoto {
    width: 940px;
    margin: 0 auto 100px;
  }
}

.newphoto__form {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .newphoto__form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 620px;
    margin: 0 auto;
    padding-bottom: 39px;
  }
}

@media (min-width: $desktop-width) {
  .newphoto__form {
    width: 800px;
    margin-left: 80px;
  }
}

@media (min-width: $tablet-width) {
  .newphoto__photo {
    width: 300px;
    height: 400px;
  }
}

@media (min-width: $tablet-width) {
  .newphoto__editor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 49px;
  }
}

@media (min-width: $tablet-width) {
  .newphoto__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

.newphoto__editor-tools {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  box-sizing: border-box;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 41px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    width: 280px;
  }
}

@media (min-width: $tablet-width) {
  .newphoto__line {
    border-bottom: 1px solid #dddfe0;
    width: 280px;
    position: relative;
    right: 42px;
  }
}

@media (min-width: $tablet-width) {
  .newphoto__button {
    display: flex;
    flex-direction: column;
  }
}

.newphoto__button-crop {
  border: none;
  background-image: url("..//img/crop.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 44px;
  height: 44px;
  appearance: none;
  position: relative;
  top: -3px;
  left: -1px;
}

@media (min-width: $tablet-width) {
  .newphoto__button-crop {
    background-image: url("..//img/croptablet.svg");
    width: 22px;
    height: 22px;
    background-position: center;
  }
}

@media (min-width: $desktop-width) {
  .newphoto__button-crop {
    background-image: url("..//img/crop.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 44px;
    height: 44px;
  }
}

.newphoto__button-fill {
  border: none;
  background-image: url("..//img/fill.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 44px;
  height: 44px;
  appearance: none;
  position: relative;
  top: -2px;
}


@media (min-width: $tablet-width) {
  .newphoto__button-fill {
    background-image: url("..//img/filltablet.svg");
    width: 22px;
    height: 22px;
    background-position: center;
  }
}

@media (min-width: $desktop-width) {
  .newphoto__button-fill {
    background-image: url("..//img/filldesktop.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 44px;
    height: 44px;
  }
}

.newphoto__wraper-button {
  display: flex;
  justify-content: space-around;
  padding-bottom: 23px;
}

@media (min-width: $tablet-width) {
  .newphoto__wraper-button {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 2px;
    padding-bottom: 0;
    left: -17px;
  }
}

@media (min-width: $tablet-width) {
  .newphoto__wraper-range {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

.newphoto__range-fill,
.newphoto__range-contrast {
  display: none;
}

@media (min-width: $tablet-width) {
  .newphoto__range-fill,
  .newphoto__range-contrast {
    display: block;
  }
}

.newphoto__button-contrast {
  border: none;
  background-image: url("..//img/contrast.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 44px;
  height: 44px;
  appearance: none;
  position: relative;
  top: -3px;
  left: -5px;
}

@media (min-width: $tablet-width) {
  .newphoto__button-contrast {
    background-image: url("..//img/contrasttablet.svg");
    width: 22px;
    height: 22px;
    background-position: center;
    position: relative;
    left: 1px;
  }
}

@media (min-width: $desktop-width) {
  .newphoto__button-contrast {
    background-image: url("..//img/contrastdesktop.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 44px;
    height: 44px;
  }
}

// Ползунок
.newphoto__slider {
  position: relative;
  background: #f4f4f4;
  border-radius: 8px;
  width: 100%;
  height: 18px;
}

.newphoto__range {
  position: relative;
  left: 3px;
  width: 240px;
  height: 2px;
  background: $blue;
  appearance: none;
  outline: none;
  border-radius: 2px;
  margin-bottom: 57px;
}

@media (min-width: $tablet-width) {
  .newphoto__range {
    position: relative;
    left: 3px;
    top: 34px;
    width: 194px;
    height: 2px;
    background: $blue;
    appearance: none;
    outline: none;
    border-radius: 2px;
    margin-bottom: 70px;
  }
}

@media (min-width: $desktop-width) {
  .newphoto__range {
    width: 288px;
  }
}

.newphoto__range::-webkit-slider-thumb {
  appearance: none;
  width: 14px;
  height: 14px;
  background: url("..//img/slider.svg");
  background-repeat: no-repeat;
  background-position: center;
}
//

.newphoto__img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding-top: 19px;
}

@media (min-width: $tablet-width) {
  .newphoto__img {
    padding-top: 56px;
  }
}

.newphoto__add {
  border: 3px solid #d22856;
  box-sizing: border-box;
  border-radius: 30px;
  color: #d22856;
  text-align: center;
  padding-left: 89px;
  padding-right: 90px;
  padding-top: 17px;
  padding-bottom: 15px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}

@media (min-width: $tablet-width) {
  .newphoto__add {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media (min-width: $desktop-width) {
  .newphoto__add {
    padding-left: 42px;
    padding-right: 42px;
    padding-top: 22px;
    padding-bottom: 22px;
    margin-right: 22px;
  }
}

.newphoto__cancellation {
  border: 3px solid #d22856;
  box-sizing: border-box;
  border-radius: 30px;
  color: #d22856;
  padding-left: 104px;
  padding-right: 103px;
  padding-top: 17px;
  padding-bottom: 15px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}

@media (min-width: $tablet-width) {
  .newphoto__cancellation {
    padding-left: 92px;
    padding-right: 92px;
    margin-top: 9px;
  }
}

@media (min-width: $desktop-width) {
  .newphoto__cancellation {
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 22px;
    padding-bottom: 22px;
    margin-left: 22px;
  }
}

@media (min-width: $desktop-width) {
  .newphoto__button-input {
    display: flex;
  }
}

.newphoto__button-input {
  text-align: center;
}
