.newphoto {
  padding-bottom: 54px;
  margin-bottom: 40px;
  background-color: #f2f2f2;
}

@media (min-width: $desktop-width) {
  .newphoto {
    width: 940px;
    margin: 0 auto 100px;
  }
}

.newphoto__form {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .newphoto__form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 620px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .newphoto__form {
    width: 800px;
    margin-left: 80px;
  }
}

@media (min-width: $tablet-width) {
  .newphoto__photo {
    width: 300px;
    height: 400px;
    margin-top: 37px;
  }
}

@media (min-width: $tablet-width) {
  .newphoto__editor {
    width: 275px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.newphoto__editor-tools {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  height: 160px;
  box-sizing: border-box;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 41px;
  border-bottom: 1px solid #dddfe0;
}

@media (min-width: $tablet-width) {
  .newphoto__button {
    display: flex;
    flex-direction: column;
  }
}

.newphoto__button-editor {
  border: none;
}

.newphoto__img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding-top: 20px;
}

.newphoto__add {
  border: 3px solid #d22856;
  box-sizing: border-box;
  border-radius: 30px;
  color: #d22856;
  text-align: center;
  padding-left: 91px;
  padding-right: 90px;
  padding-top: 21px;
  padding-bottom: 21px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}

.newphoto__cancellation {
  border: 3px solid #d22856;
  box-sizing: border-box;
  border-radius: 30px;
  color: #d22856;
  padding-left: 104px;
  padding-right: 103px;
  padding-top: 21px;
  padding-bottom: 21px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}

.newphoto__button-input {
  text-align: center;
}
