.page-footer {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 50px auto 50px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
    width: 620px;
    flex-direction: row;
    justify-content: space-between;
    margin: 27px auto 40px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    width: 940px;
    margin: 43px auto 90px;
  }
}

.page-footer__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  height: 41px;
  align-self: center;
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .page-footer__logo {
    display: flex;
    align-self: flex-start;
    margin: 0;
    position: relative;
    left: -1px;
    top: -1px;
  }
}

.page-footer__social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-size: 0;
}

@media (min-width: $tablet-width) {
  .page-footer__social {
    display: flex;
    align-self: flex-start;
    margin: 0;
  }
}

.copyright__img {
  width: 27px;
  height: 34px;
}

.copyright__img path {
  fill: inherit;
}

.copyright__img:hover {
  fill: $blue;
}

.copyright__img:active {
  fill: $blue;
}

.page-footer__copyright {
  width: 150px;
  align-self: center;
  min-height: 36px;
  text-align: center;
  color: $blue;
  margin-top: 41px;
}

@media (min-width: $tablet-width) {
  .page-footer__copyright {
    text-align: right;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__copyright {
    width: 152px;
  }
}

.copyright__text {
  display: inline-block;
  vertical-align: middle;
  margin-right: 11px;
  font-size: 14px;
  line-height: 18px;
  color: $blue;
  position: relative;
  top: -2px;
}

@media (min-width: $tablet-width) {
  .copyright__text {
    position: relative;
    top: 1px;
  }
}

@media (min-width: $desktop-width) {
  .copyright__text {
    margin-right: 7px;
    font-size: 18px;
    position: relative;
    top: 1px;
    left: -2px;
  }
}

.copyright__link {
  display: inline-block;
  vertical-align: middle;
  width: 27px;
  height: 34px;
}

.page-footer__twitter {
  background-image: url("..//img/twitter.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width: 51px;
  height: 51px;
  margin-right: 12px;
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50%;
}

.page-footer__facebook {
  background-image: url("..//img/facebook.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width: 51px;
  height: 51px;
  margin-right: 12px;
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50%;
}

.page-footer__youtube {
  background-image: url("..//img/youtube.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width: 51px;
  height: 51px;
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50%;
}
