.page {
  background-color: #ffffff;
}

.page__body {
  font-family: "Open Sans", sans-serif;
  background-position: top center;
  min-height: 100%;
  // width: 320px;
  margin: 0 auto;
  height: auto;
}
