.page-main__operating {
  background-color: #1d2631;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  min-height: 200px;
  padding-top: 28px;
  padding-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .page-main__operating {
    position: absolute;
    margin-top: 338px;
    left: -150px;
    width: 100%;
    display: flex;
    background-color: #1d263100;
  }
}

@media (min-width: $desktop-width) {
  .page-main__operating {
    position: absolute;
    margin-top: 426px;
    left: -345px;
  }
}

.page-main__operating-wrap {
  position: relative;
}

.page-main__download {
  color: $white;
  line-height: 18px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  border-radius: 29px;
  font-weight: bold;
  margin: 0 auto;
  margin-bottom: 38px;
  padding: 15px 0;
  width: 280px;
  height: 55px;
}

.page-main__operating-system {
  margin-bottom: 20px;
  text-align: center;
  font-size: 0;
}

.page-main__apple-logo {
  margin-right: 35px;
}

.page-main__android-logo {
  margin-right: 35px;
}

@media (min-width: $tablet-width) {
  .page-main__wrap {
    display: flex;
    width: auto;
    height: 729px;
  }
}

.page-main__wrap {
  background-color: #283645;
  width: 100%;
  background-image: url("..//img/backmobile.jpg");
  background-position: center;
  background-size: cover;
  height: 462px;
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .page-main__wrap {
    background-image: url("..//img/backtablet.jpg");
    width: auto;
    height: 729px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__wrap {
    background-image: url("..//img/backdesktop.jpg");
    width: auto;
    height: 853px;
  }
}

.page-main__wraper {
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  background-image: url("..//img/phonemobile.png");
  background-position: left bottom;
  height: 462px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


@media (min-width: $tablet-width) {
  .page-main__wraper {
    background-image: url("..//img/phonetablet.png");
    height: 100%;
    width: 660px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__wraper {
    background-image: url("..//img/phonedesctop.png");
    width: 940px;
    margin: 0 auto;
    background-size: 1050px auto;
    background-position: 20px bottom;
  }
}

.page-main__wraper-title {
  width: 280px;
}

@media (min-width: $tablet-width) {
  .page-main__wraper-title {
    width: 300px;
  }
}

.page-main__img {
  position: relative;
  left: -79px;
  top: 3px;
}

@media (min-width: $tablet-width) {
  .page-main__img {
    position: relative;
    top: 184px;
    width: 593px;
    left: -146px;
    height: 545px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__img {
    position: relative;
    width: 1050px;
    height: 645px;
    top: 208px;
    left: -91px;
  }
}

.page-main__title {
  font-weight: 300;
  color: $white;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  text-align: center;
  padding-top: 95px;
  padding-bottom: 34px;
}

@media (min-width: $tablet-width) {
  .page-main__title {
    left: -150px;
    font-weight: 300;
    font-size: 40px;
    line-height: 48px;
    position: relative;
    top: 103px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__title {
    font-weight: 300;
    font-size: 50px;
    line-height: 68px;
    position: relative;
    left: -346px;
    top: 112px;
  }
}

.page-main__desc {
  color: $white;
  line-height: 24px;
  text-align: center;
  width: 300px;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 300;
}

@media (min-width: $tablet-width) {
  .page-main__desc {
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
  }
}
