.panorama {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 20px auto;
}

@media (min-width: $tablet-width) {
  .panorama {
    width: auto;
    margin-top: 0;
    margin-bottom: 50px;
  }
}

@media (min-width: $desktop-width) {
  .panorama {
    margin-top: 8px;
  }
}

.panorama__img {
  position: relative;
  width: 320px;
  height: 137px;
  align-self: center;
}

@media (min-width: $tablet-width) {
  .panorama__img {
    width: 700px;
    height: 509px;
  }
}

@media (min-width: $desktop-width) {
  .panorama__img {
    width: 1200px;
    height: 506px;
  }
}

.panorama__day {
  position: absolute;
  top: 0;
  right: 20px;
  box-sizing: border-box;
  padding-top: 7px;
  width: 140px;
  height: 36px;
  background-color: $accent;
  color: $white;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .panorama__day {
    position: relative;
    top: -457px;
    right: -520px;
  }
}

.panorama__text {
  position: relative;
  box-sizing: border-box;
  width: 280px;
  align-self: center;
  padding-left: 18px;
  padding-top: 18px;
  padding-bottom: 20px;
  background-color: $gray;
}

@media (min-width: $tablet-width) {
  .panorama__text {
    padding-left: 27px;
    padding-top: 25px;
    padding-bottom: 14px;
    width: 620px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .panorama__text {
    width: 940px;
    margin: 0 auto;
  }
}

.panorama__name {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: $blue;
}

@media (min-width: $tablet-width) {
  .panorama__name {
    position: relative;
    top: -2px;
    left: 2px;
  }
}

.panorama__text-time {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  left: -2px;
}

@media (min-width: $tablet-width) {
  .panorama__text-time {
    position: relative;
    top: -2px;
    left: 1px;
  }
}

.panorama__img-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
}

.panorama__desc {
  margin: 0 0 10px;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
  width: 253px;
  position: relative;
  left: 3px;
  top: -2px;
}

@media (min-width: $tablet-width) {
  .panorama__desc {
    width: 520px;
  }
}

.panorama__text-name {
  padding-left: 20px;
  padding-top: 25px;
  margin: 0;
}

.panorama__like {
  display: flex;
  align-items: center;
  border: none;
  position: relative;
  left: -7px;
  top: 1px;
}

@media (min-width: $tablet-width) {
  .panorama__like {
    position: absolute;
    top: 23px;
    left: 465px;
  }
}

@media (min-width: $tablet-width) {
  .panorama__like-img {
    order: 2;
  }
}

.panorama__like-text {
  margin-left: 18px;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: $accent;
}

@media (min-width: $tablet-width) {
  .panorama__like-text {
    order: 1;
    margin-left: 0;
    margin-right: 18px;
  }
}
