.tariffs {
  .tariffs__wrapper {
    overflow-x: auto;
  }

  .tariffs__table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
  }

  .tariffs__tariff {
    background-color: $blue;
    color: $white;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    text-transform: uppercase;
    padding: 8px;
    position: relative;
    overflow: hidden;
    border: 2px solid #e5e5e5;
    scroll-snap-align: start;

    &:first-of-type {
      border-radius: 3 0 0 0;
    }

    &:last-of-type {
      border-radius: 3 0 0 0;
    }
  }

  .tariffs__price {
    font-weight: 300;
    margin: 0;
  }

  .tariffs__hit-ribbon {
    background-color: $accent;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-45deg) translate(-22px, -10px);
    width: 86px;
    font-weight: 300;
    font-size: 14px;
  }

  .tariffs__feature,
  .tariffs__value {
    border: 2px solid $gray;
    height: 45px;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    background-color: $white;
    color: $blue;
    padding: 4px 16px;
  }

  .tariffs__feature {
    text-align: left;
  }

  .tariffs__value {
    text-align: center;
  }

  .tariffs__value-wrapper {
    display: flex;
    flex: wrap;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;
  }

  @media (min-width: $tablet-width) {
    .tariffs__dots {
      display: none;
    }
  }

  @media (max-width: $tablet-width - 1px) {
    .tariffs__wrapper {
      display: grid;
      grid-template-columns: 300% $mobile-side-offset; // и after чтобы не съедался отсуп справа
      scroll-padding: $mobile-side-offset;

      &::after {
        content: "";
        width: 100%;
        height: 100%;
      }
    }

    .tariffs__empty-cell,
    .tariffs__feature {
      display: none;
    }

    .tariffs__value-wrapper {
      justify-content: space-between;

      &::before {
        content: attr(data-feature);
      }
    }
  }
}
