.text {
  padding-bottom: 0;
  margin-top: 310px;
}

.text__desc {
  color: $blue;
  width: 320px;
  margin: 0 auto 26px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .text__desc {
    font-weight: 300;
    font-size: 40px;
    line-height: 54px;
  }
}

@media (min-width: $desktop-width) {
  .text__desc {
    font-weight: 300;
    font-size: 50px;
    line-height: 68px;
  }
}
