.competition__text {
  background-image: url(..//img/backmobile.jpg);
}


.competition__text-title {
  padding-top: 120px;
  padding-bottom: 51px;
  padding-left: 46px;
  color: #ffffff;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  margin: 0;
}

.competition__text-subtitle {
  background-color: #ffffff;
  margin: 0;
  padding-top: 64px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 55px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}
